<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>闪光项目URL汇集页面</title>
</head>
<body>
<a href="http://192.168.31.123:9400"  target="_blank">sg-admin地址</a>
<a href="http://192.168.31.90:8300/all"  target="_blank">sg-user-center地址</a>
<a href="http://192.168.31.90:8100/hystrix/userCenter/alluser"  target="_blank">sg-pc-web地址</a>
<a href="http://192.168.31.123:9200/"  target="_blank">zuul地址</a>
<a href="http://192.168.31.90:9300/home/index"  target="_blank">manager-web地址</a>
<br/>
<a href="http://192.168.31.123:8070/"  target="_blank">apollo后台地址</a>
<a href="http://192.168.31.123:8080/"  target="_blank">apollo客户端和Eureka地址</a>
<a href="http://192.168.31.123:8090/"  target="_blank">apollo服务端地址</a>
<br/>
<a href="http://192.168.31.123:9411/zipkin"  target="_blank">zipkin地址</a>
<a href="http://192.168.31.123:8200/"  target="_blank">eureka地址</a>
<br/>
<a>redis地址：192.168.31.122:6379</a>
<a>kafka地址：192.168.31.122:9200</a>
<a>zookeeper：192.168.31.122:2181</a>
</body>
</html>